body {
    background-color: #F9E79F;
    height: 1000px;
    width: 90%;
    }

nav {
    text-transform: uppercase;
    width:2000px;
    
}

.nav-link {
    font-weight: bold;
}


.nav-link:hover {
    font-style: italic;
    background-color: yellow!important;

}

header {
    text-align: center;
    background-image:url(.carousel-inner);
    color:white;
    font-weight:Normal;
}
.carousel-inner {
    width:2000px;
    height:600px;
}

.about us  {
    text-align: center;
}

header p {
    font-family: George;
    color: White;
}

header h1 {
    color: white;
}

.services {
    text-align: center;
}
.Gallery {
     text-align: center;
}
.services i {
    font-size: 30px;
    padding: 25px 20px;
    color:Black;
    border-radius: 50px;
}
.pricing {
     text-align: center;
}
.team {
    text-align: center;
}
.staff {
    text-align: center;
}
.first { 
    height: 200px;
    border-radius: 50%;
    width: 70%;
}
.team img{
    height: 150px;
    border-radius: 70%;
    width: 200px;
}
footer{
   color: Black;
   width: 800px ;
}
.second { 
    height: 200px;
    border-radius: 50%;
    width: 70%;
}
.third { 
    height: 200px;
    border-radius: 50%;
    width: 70%;
}
.fourth {
    height: 100px;
    border-radius: 50%;
    width: 70%;
}
.picture {
     size: center;
     border-radius: 25%;
     width: 100%;
}



