body {
    background-color: #ffcccc;
}

nav {
    text-transform: uppercase;

}

.nav-link {
    font-weight: bold;
}


.nav-link:hover {
    font-style: italic;
    background-color: yellow!important;

}

header {
    height: 600px;
    width: 100%;
    background-image:url(flowers2.jpg);
    text-align: center;
}

header p {
    font-style: italic;
    color: white;
}

header h1 {
    color: white;
}

.services {
    text-align: center;
}

.services i {
    font-size: 30px;
    padding: 25px 20px;

    border-radius: 50px;
}
.first { 
    height: 100px;
    border-radius: 50%;
    width: 70%;
}
.team img {
    height: 150px;
    border-radius: 70%;
    width: 200px;
}
footer{
   background-color: ;
   width: 500px ;
}
.second { 
    height: 100px;
    border-radius: 50%;
    width: 70%;
}
.third { 
    height: 100px;
    border-radius: 50%;
    width: 70%;
}